In [1]:
import pandas as pd

In [11]:
csv_2017_01 = "citybike_files/JC-201701-citibike-tripdata.csv"
csv_2017_01_df = pd.read_csv(csv_2017_01)
print(csv_2017_01_df.shape)
print(csv_2017_01_df.columns)

(12926, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [27]:
csv_2017_01_df = csv_2017_01_df.rename(str.lower, axis='columns')
print(csv_2017_01_df.columns)

Index(['trip duration', 'start time', 'stop time', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bike id', 'user type',
       'birth year', 'gender'],
      dtype='object')

In [35]:
csv_2017_01_df = csv_2017_01_df.rename(index=str, columns={"trip duration": "tripduration", "start time": "starttime", "stop time": "stoptime",
                                         "bike id": "bikeid", "user type": "usertype"})
print(csv_2017_01_df.columns)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [13]:
csv_2017_02 = "citybike_files/JC-201702-citibike-tripdata.csv"
csv_2017_02_df = pd.read_csv(csv_2017_02)
print(csv_2017_02_df.shape)
print(csv_2017_02_df.columns)

(14026, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [29]:
csv_2017_02_df = csv_2017_02_df.rename(str.lower, axis='columns')
print(csv_2017_02_df.columns)

Index(['trip duration', 'start time', 'stop time', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bike id', 'user type',
       'birth year', 'gender'],
      dtype='object')

In [14]:
csv_2017_03 = "citybike_files/JC-201703-citibike-tripdata.csv"
csv_2017_03_df = pd.read_csv(csv_2017_03)
print(csv_2017_03_df.shape)
print(csv_2017_03_df.columns)

(12201, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [34]:
csv_2017_02_df = csv_2017_02_df.rename(index=str, columns={"trip duration": "tripduration", "start time": "starttime", "stop time": "stoptime",
                                         "bike id": "bikeid", "user type": "usertype"})
print(csv_2017_02_df.columns)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [30]:
csv_2017_03_df = csv_2017_03_df.rename(str.lower, axis='columns')
print(csv_2017_03_df.columns)

Index(['trip duration', 'start time', 'stop time', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bike id', 'user type',
       'birth year', 'gender'],
      dtype='object')

In [33]:
csv_2017_03_df = csv_2017_03_df.rename(index=str, columns={"trip duration": "tripduration", "start time": "starttime", "stop time": "stoptime",
                                         "bike id": "bikeid", "user type": "usertype"})
print(csv_2017_03_df.columns)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [15]:
csv_2017_04 = "citybike_files/JC-201704-citibike-tripdata.csv"
csv_2017_04_df = pd.read_csv(csv_2017_04)
print(csv_2017_04_df.shape)
print(csv_2017_04_df.columns)

(21186, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [16]:
csv_2017_05 = "citybike_files/JC-201705-citibike-tripdata.csv"
csv_2017_05_df = pd.read_csv(csv_2017_05)
print(csv_2017_05_df.shape)
print(csv_2017_05_df.columns)

(25966, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [17]:
csv_2017_06 = "citybike_files/JC-201706-citibike-tripdata.csv"
csv_2017_06_df = pd.read_csv(csv_2017_06)
print(csv_2017_06_df.shape)
print(csv_2017_06_df.columns)

(32060, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [18]:
csv_2017_07 = "citybike_files/JC-201707-citibike-tripdata.csv"
csv_2017_07_df = pd.read_csv(csv_2017_07)
print(csv_2017_07_df.shape)
print(csv_2017_07_df.columns)

(33573, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [20]:
csv_2017_08 = "citybike_files/JC-201708 citibike-tripdata.csv"
csv_2017_08_df = pd.read_csv(csv_2017_08)
print(csv_2017_08_df.shape)
print(csv_2017_08_df.columns)

(35472, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [21]:
csv_2017_09 = "citybike_files/JC-201709-citibike-tripdata.csv"
csv_2017_09_df = pd.read_csv(csv_2017_09)
print(csv_2017_09_df.shape)
print(csv_2017_09_df.columns)

(33119, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [22]:
csv_2017_10 = "citybike_files/JC-201710-citibike-tripdata.csv"
csv_2017_10_df = pd.read_csv(csv_2017_10)
print(csv_2017_10_df.shape)
print(csv_2017_10_df.columns)

(34919, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [23]:
csv_2017_11 = "citybike_files/JC-201711-citibike-tripdata.csv"
csv_2017_11_df = pd.read_csv(csv_2017_11)
print(csv_2017_11_df.shape)
print(csv_2017_11_df.columns)

(23582, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [24]:
csv_2017_12 = "citybike_files/JC-201712-citibike-tripdata.csv"
csv_2017_12_df = pd.read_csv(csv_2017_12)
print(csv_2017_12_df.shape)
print(csv_2017_12_df.columns)

(15898, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [38]:
df_union_all_2017= pd.concat([csv_2017_01_df, csv_2017_02_df, csv_2017_03_df, csv_2017_04_df, csv_2017_05_df, csv_2017_06_df,
                              csv_2017_07_df, csv_2017_08_df, csv_2017_09_df, csv_2017_10_df, csv_2017_01_df, csv_2017_11_df, csv_2017_12_df])
df_union_all_2017.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [41]:
df_union_all_2017.to_csv("union_all_2017.csv", index=False, header=True)

In [42]:
csv_2018_01 = "citybike_files/JC-201801-citibike-tripdata.csv"
csv_2018_01_df = pd.read_csv(csv_2018_01)
print(csv_2018_01_df.shape)
print(csv_2018_01_df.columns)

(12677, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [43]:
csv_2018_02 = "citybike_files/JC-201802-citibike-tripdata.csv"
csv_2018_02_df = pd.read_csv(csv_2018_02)
print(csv_2018_02_df.shape)
print(csv_2018_02_df.columns)

(15104, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [44]:
csv_2018_03 = "citybike_files/JC-201803-citibike-tripdata.csv"
csv_2018_03_df = pd.read_csv(csv_2018_03)
print(csv_2018_03_df.shape)
print(csv_2018_03_df.columns)

(17109, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [45]:
csv_2018_04 = "citybike_files/JC-201804-citibike-tripdata.csv"
csv_2018_04_df = pd.read_csv(csv_2018_04)
print(csv_2018_04_df.shape)
print(csv_2018_04_df.columns)

(23634, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [46]:
csv_2018_05 = "citybike_files/JC-201805-citibike-tripdata.csv"
csv_2018_05_df = pd.read_csv(csv_2018_05)
print(csv_2018_05_df.shape)
print(csv_2018_05_df.columns)

(34456, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [47]:
csv_2018_06 = "citybike_files/JC-201806-citibike-tripdata.csv"
csv_2018_06_df = pd.read_csv(csv_2018_06)
print(csv_2018_06_df.shape)
print(csv_2018_06_df.columns)

(40937, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [48]:
csv_2018_07 = "citybike_files/JC-201807-citibike-tripdata.csv"
csv_2018_07_df = pd.read_csv(csv_2018_07)
print(csv_2018_07_df.shape)
print(csv_2018_07_df.columns)

(42268, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [49]:
csv_2018_08 = "citybike_files/JC-201808-citibike-tripdata.csv"
csv_2018_08_df = pd.read_csv(csv_2018_08)
print(csv_2018_08_df.shape)
print(csv_2018_08_df.columns)

(44432, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [50]:
csv_2018_09 = "citybike_files/JC-201809-citibike-tripdata.csv"
csv_2018_09_df = pd.read_csv(csv_2018_09)
print(csv_2018_09_df.shape)
print(csv_2018_09_df.columns)

(39022, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [51]:
csv_2018_10 = "citybike_files/JC-201810-citibike-tripdata.csv"
csv_2018_10_df = pd.read_csv(csv_2018_10)
print(csv_2018_10_df.shape)
print(csv_2018_10_df.columns)

(39138, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [52]:
csv_2018_11 = "citybike_files/JC-201811-citibike-tripdata.csv"
csv_2018_11_df = pd.read_csv(csv_2018_11)
print(csv_2018_11_df.shape)
print(csv_2018_11_df.columns)

(24910, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [53]:
csv_2018_12 = "citybike_files/JC-201812-citibike-tripdata.csv"
csv_2018_12_df = pd.read_csv(csv_2018_12)
print(csv_2018_12_df.shape)
print(csv_2018_12_df.columns)

(20205, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [77]:
df_union_all_2018= pd.concat([csv_2018_01_df, csv_2018_02_df, csv_2018_03_df, csv_2018_04_df, csv_2018_05_df, csv_2018_06_df,
                              csv_2018_07_df, csv_2018_08_df, csv_2018_09_df, csv_2018_10_df, csv_2018_01_df, csv_2018_11_df, csv_2018_12_df])
df_union_all_2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [78]:
df_union_all_2018.to_csv("union_all_2018.csv", index=False, header=True)

In [58]:
csv_2019_01 = "citybike_files/JC-201901-citibike-tripdata.csv"
csv_2019_01_df = pd.read_csv(csv_2019_01)
print(csv_2019_01_df.shape)
print(csv_2019_01_df.columns)

(19676, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [59]:
csv_2019_02 = "citybike_files/JC-201902-citibike-tripdata.csv"
csv_2019_02_df = pd.read_csv(csv_2019_02)
print(csv_2019_02_df.shape)
print(csv_2019_02_df.columns)

(18565, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [60]:
csv_2019_03 = "citybike_files/JC-201903-citibike-tripdata.csv"
csv_2019_03_df = pd.read_csv(csv_2019_03)
print(csv_2019_03_df.shape)
print(csv_2019_03_df.columns)

(23606, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [61]:
csv_2019_04 = "citybike_files/JC-201901-citibike-tripdata.csv"
csv_2019_04_df = pd.read_csv(csv_2019_04)
print(csv_2019_04_df.shape)
print(csv_2019_04_df.columns)

(19676, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [62]:
df_union_all_2019= pd.concat([csv_2019_01_df, csv_2019_02_df, csv_2019_03_df, csv_2019_04_df])
df_union_all_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [63]:
df_union_all_2019.to_csv("union_all_2019.csv", index=False, header=True)

In [65]:
csv_2016_01 = "citybike_files/JC-201601-citibike-tripdata.csv"
csv_2016_01_df = pd.read_csv(csv_2016_01)
print(csv_2016_01_df.shape)
print(csv_2016_01_df.columns)

(7479, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [66]:
csv_2016_02 = "citybike_files/JC-201602-citibike-tripdata.csv"
csv_2016_02_df = pd.read_csv(csv_2016_02)
print(csv_2016_02_df.shape)
print(csv_2016_02_df.columns)

(8250, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [67]:
csv_2016_03 = "citybike_files/JC-201603-citibike-tripdata.csv"
csv_2016_03_df = pd.read_csv(csv_2016_03)
print(csv_2016_03_df.shape)
print(csv_2016_03_df.columns)

(13511, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [68]:
csv_2016_04 = "citybike_files/JC-201601-citibike-tripdata.csv"
csv_2016_04_df = pd.read_csv(csv_2016_04)
print(csv_2016_04_df.shape)
print(csv_2016_04_df.columns)

(7479, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [69]:
csv_2016_05 = "citybike_files/JC-201605-citibike-tripdata.csv"
csv_2016_05_df = pd.read_csv(csv_2016_05)
print(csv_2016_05_df.shape)
print(csv_2016_05_df.columns)

(19488, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [70]:
csv_2016_06 = "citybike_files/JC-201606-citibike-tripdata.csv"
csv_2016_06_df = pd.read_csv(csv_2016_06)
print(csv_2016_06_df.shape)
print(csv_2016_06_df.columns)

(23947, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [71]:
csv_2016_07 = "citybike_files/JC-201607-citibike-tripdata.csv"
csv_2016_07_df = pd.read_csv(csv_2016_07)
print(csv_2016_07_df.shape)
print(csv_2016_07_df.columns)

(24436, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [72]:
csv_2016_08 = "citybike_files/JC-201608-citibike-tripdata.csv"
csv_2016_08_df = pd.read_csv(csv_2016_01)
print(csv_2016_08_df.shape)
print(csv_2016_08_df.columns)

(7479, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [73]:
csv_2016_09 = "citybike_files/JC-201609-citibike-tripdata.csv"
csv_2016_09_df = pd.read_csv(csv_2016_09)
print(csv_2016_09_df.shape)
print(csv_2016_09_df.columns)

(33425, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [74]:
csv_2016_10 = "citybike_files/JC-201610-citibike-tripdata.csv"
csv_2016_10_df = pd.read_csv(csv_2016_10)
print(csv_2016_10_df.shape)
print(csv_2016_10_df.columns)

(29611, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [75]:
csv_2016_11 = "citybike_files/JC-201611-citibike-tripdata.csv"
csv_2016_11_df = pd.read_csv(csv_2016_11)
print(csv_2016_11_df.shape)
print(csv_2016_11_df.columns)

(21832, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [76]:
csv_2016_12 = "citybike_files/JC-201612-citibike-tripdata.csv"
csv_2016_12_df = pd.read_csv(csv_2016_12)
print(csv_2016_12_df.shape)
print(csv_2016_12_df.columns)

(15114, 15)
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [80]:
df_union_all_2016= pd.concat([csv_2016_01_df, csv_2016_02_df, csv_2016_03_df, csv_2016_04_df, csv_2016_05_df, csv_2016_06_df,
                              csv_2016_07_df, csv_2016_08_df, csv_2016_09_df, csv_2016_10_df, csv_2016_01_df, csv_2016_11_df, csv_2016_12_df])
df_union_all_2016.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0
5,883,2016-01-01 01:03:28,2016-01-01 01:18:11,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24442,Customer,NaN,0
6,445,2016-01-01 01:07:45,2016-01-01 01:15:11,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,24510,Subscriber,1988.0,2
7,192,2016-01-01 01:18:51,2016-01-01 01:22:03,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,24625,Subscriber,1980.0,1
8,409,2016-01-01 01:23:44,2016-01-01 01:30:34,3187,Warren St,40.721124,-74.038051,3214,Essex Light Rail,40.712774,-74.036486,24429,Subscriber,1990.0,1
9,285,2016-01-01 01:25:12,2016-01-01 01:29:57,3187,Warren St,40.721124,-74.038051,3214,Essex Light Rail,40.712774,-74.036486,24407,Subscriber,1988.0,2
10,206,2016-01-01 01:45:34,2016-01-01 01:49:00,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24377,Subscriber,1993.0,1
11,251,2016-01-01 02:02:55,2016-01-01 02:07:06,3213,Van Vorst Park,40.718489,-74.047727,3209,Brunswick St,40.724176,-74.050656,24605,Subscriber,1976.0,1
12,292,2016-01-01 02:20:38,2016-01-01 02:25:30,3186,Grove St PATH,40.719586,-74.043117,3187,Warren St,40.721124,-74.038051,24721,Subscriber,1992.0,1
13,175,2016-01-01 02:23:37,2016-01-01 02:26:32,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24601,Subscriber,1991.0,1
14,769,2016-01-01 02:28:58,2016-01-01 02:41:47,3193,Lincoln Park,40.724605,-74.078406,3211,Newark Ave,40.721525,-74.046305,24606,Subscriber,1968.0,1
15,384,2016-01-01 02:39:07,2016-01-01 02:45:32,3209,Brunswick St,40.724176,-74.050656,3213,Van Vorst Park,40.718489,-74.047727,24470,Subscriber,1975.0,2
16,364,2016-01-01 02:39:28,2016-01-01 02:45:33,3209,Brunswick St,40.724176,-74.050656,3213,Van Vorst Park,40.718489,-74.047727,24542,Subscriber,1976.0,1
17,326,2016-01-01 02:47:39,2016-01-01 02:53:05,3186,Grove St PATH,40.719586,-74.043117,3202,Newport PATH,40.727224,-74.033759,24716,Subscriber,1992.0,1
18,341,2016-01-01 02:53:35,2016-01-01 02:59:17,3186,Grove St PATH,40.719586,-74.043117,3202,Newport PATH,40.727224,-74.033759,24687,Subscriber,1982.0,1
19,634,2016-01-01 02:54:56,2016-01-01 03:05:30,3194,McGinley Square,40.725340,-74.067622,3209,Brunswick St,40.724176,-74.050656,24675,Subscriber,1981.0,1
20,331,2016-01-01 03:02:35,2016-01-01 03:08:06,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24687,Subscriber,1982.0,1
21,550,2016-01-01 03:10:25,2016-01-01 03:19:36,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,24531,Subscriber,1986.0,1
22,988,2016-01-01 03:16:33,2016-01-01 03:33:02,3196,Riverview Park,40.744319,-74.043991,3209,Brunswick St,40.724176,-74.050656,24662,Customer,NaN,0
23,969,2016-01-01 03:16:34,2016-01-01 03:32:43,3196,Riverview Park,40.744319,-74.043991,3209,Brunswick St,40.724176,-74.050656,24563,Subscriber,1984.0,1
24,378,2016-01-01 03:17:01,2016-01-01 03:23:19,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24450,Subscriber,1981.0,1
25,368,2016-01-01 03:17:13,2016-01-01 03:23:21,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,24627,Subscriber,1982.0,2
26,287,2016-01-01 03:43:03,2016-01-01 03:47:51,3202,Newport PATH,40.727224,-74.033759,3183,Exchange Place,40.716247,-74.033459,24471,Subscriber,1986.0,1
27,286,2016-01-01 03:51:30,2016-01-01 03:56:16,3214,Essex Light Rail,40.712774,-74.036486,3187,Warren St,40.721124,-74.038051,24407,Subscriber,1988.0,2
28,539,2016-01-01 04:12:06,2016-01-01 04:21:05,3195,Sip Ave,40.730743,-74.063784,3212,Christ Hospital,40.734786,-74.050444,24664,Subscriber,1966.0,2
29,340,2016-01-01 04:16:04,2016-01-01 04:21:45,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24493,Subscriber,1972.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15084,251,2016-12-31 19:30:47,2016-12-31 19:34:58,3203,Hamilton Park,40.727596,-74.044247,3273,Manila & 1st,40.721651,-74.042884,24530,Subscriber,1973.0,1
15085,225,2016-12-31 19:38:48,2016-12-31 19:42:34,3270,Jersey & 6th St,40.725289,-74.045572,3186,Grove St PATH,40.719586,-74.043117,24525,Subscriber,1970.0,1
15086,260,2016-12-31 19:53:28,2016-12-31 19:57:49,3211,Newark Ave,40.721525,-74.046305,3186,Grove St PATH,40.719586,-74.043117,24641,Subscriber,1959.0,2
15087,627,2016-12-31 19:58:11,2016-12-31 20:08:38,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,24513,Subscriber,1967.0,2
15088,597,2016-12-31 19:58:38,2016-12-31 20:08:36,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,24463,Subscriber,1970.0,1
15089,75,2016-12-31 20:07:34,2016-12-31 20:08:50,3270,Jersey & 6th St,40.725289,-74.045572,3272,Jersey & 3rd,40.723332,-74.045953,24600,Subscriber,1989.0,1
15090,76,2016-12-31 20:12:18,2016-12-31 20:13:34,3272,Jersey & 3rd,40.723332,-74.045953,3270,Jersey & 6th St,40.725289,-74.045572,24600,Subscriber,1989.0,1
15091,440,2016-12-31 20:12:26,2016-12-31 20:19:47,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24417,Subscriber,NaN,0
15092,391,2016-12-31 20:17:20,2016-12-31 20:23:52,3281,Leonard Gordon Park,40.745910,-74.057271,3195,Sip Ave,40.730743,-74.063784,24408,Subscriber,1994.0,1
15093,287,2016-12-31 20:18:53,2016-12-31 20:23:41,3267,Morris Canal,40.712419,-74.038526,3187,Warren St,40.721124,-74.038051,24699,Subscriber,1989.0,1
15094,158,2016-12-31 20:24:55,2016-12-31 20:27:33,3213,Van Vorst Park,40.718489,-74.047727,3186,Grove St PATH,40.719586,-74.043117,24457,Subscriber,1987.0,2
15095,820,2016-12-31 20:27:55,2016-12-31 20:41:35,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26200,Subscriber,1980.0,1
15096,168,2016-12-31 20:48:27,2016-12-31 20:51:16,3213,Van Vorst Park,40.718489,-74.047727,3279,Dixon Mills,40.721630,-74.049968,26198,Subscriber,1987.0,2
15097,267,2016-12-31 20:52:51,2016-12-31 20:57:19,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,26241,Subscriber,1966.0,1
15098,212,2016-12-31 21:03:10,2016-12-31 21:06:42,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,26163,Subscriber,1972.0,1
15099,1226,2016-12-31 21:08:02,2016-12-31 21:28:28,3267,Morris Canal,40.712419,-74.038526,3193,Lincoln Park,40.724605,-74.078406,24535,Subscriber,1960.0,1
15100,304,2016-12-31 21:12:05,2016-12-31 21:17:10,3210,Pershing Field,40.742677,-74.051789,3212,Christ Hospital,40.734786,-74.050444,24486,Subscriber,1969.0,1
15101,209,2016-12-31 21:23:56,2016-12-31 21:27:26,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,24516,Subscriber,1986.0,2
15102,463,2016-12-31 21:41:17,2016-12-31 21:49:00,3194,McGinley Square,40.725340,-74.067622,3220,5 Corners Library,40.734961,-74.059503,24426,Subscriber,1984.0,1
15103,99,2016-12-31 21:44:50,2016-12-31 21:46:30,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,24622,Subscriber,1957.0,1
15104,216,2016-12-31 21:48:33,2016-12-31 21:52:09,3205,JC Medical Center,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,24590,Subscriber,1985.0,1
15105,559,2016-12-31 21:52:13,2016-12-31 22:01:32,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730743,-74.063784,26431,Subscriber,1986.0,1
15106,473,2016-12-31 22:04:14,2016-12-31 22:12:07,3186,Grove St PATH,40.719586,-74.043117,3268,Lafayette Park,40.713464,-74.062859,24525,Subscriber,1991.0,1
15107,242,2016-12-31 23:02:01,2016-12-31 23:06:03,3214,Essex Light Rail,40.712774,-74.036486,3276,Marin Light Rail,40.714584,-74.042817,26232,Subscriber,1958.0,1
15108,377,2016-12-31 23:10:00,2016-12-31 23:16:17,3206,Hilltop,40.731169,-74.057574,3225,Baldwin at Montgomery,40.723659,-74.064194,24421,Subscriber,1984.0,1
15109,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981.0,2
15110,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,NaN,0
15111,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978.0,1
15112,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960.0,2
15113,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956.0,1

In [ ]:
df_union_all_2016.to_csv()